In [1]:
from scripts.fe import FeatureEngineering
from scripts.fs import FeatureSelection
from scripts.fs import train_test_split_function
from scripts.fs import check_numerical_columns
from scripts.cross_val import plot_results
from scripts.cross_val import find_best_score
from scripts.cross_val import cross_validate_parameters
from sklearn.ensemble import RandomForestClassifier
from scripts.modelling import prediction_to_csv
from sklearn.metrics import mean_absolute_error
from scripts.lazy_model import lazy_model
from scripts.final_predicter import run_and_save
import pandas as pd
from datetime import datetime
from scripts.fe import mean_encode
from scripts.modelling import tune_model

# Feature Engineering

In [29]:
df,test_df = FeatureEngineering(drop_non_numerical=True, drop_empty_rows=False)

In [31]:
df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,1,1,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,0,1,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,0,1,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,0,1,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,1,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,0,1,...,0,0,0,0,0,0,0,0,0,2
260597,669485,17,715,2060,2,0,6,5,0,1,...,0,0,0,0,0,0,0,0,0,3
260598,602512,17,51,8163,3,55,6,7,0,1,...,0,0,0,0,0,0,0,0,0,3
260599,151409,26,39,1851,2,10,14,6,0,0,...,0,0,0,0,0,0,0,0,0,2
260600,747594,21,9,9101,3,10,7,6,0,1,...,0,0,0,0,0,0,0,0,0,3

In [32]:
df.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'has_superstructure_adobe_mud', 'has_superstructure_mud_mortar_stone',
       'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'count_families', 'has_secondary_use', 'has_secondary_use_agriculture',
       'has_secondary_use_hotel', 'has_secondary_use_rental',
       'has_secondary_use_institution', 'has_secondary_use_school',
       'has_secondary_use_industry', 'has_secondary_use_health_post',
       'has_secondary_use_gov_office', 'has_secondary_use_use_police',
       'has_secondary_use_other', 'damage_grade'],
      dtype='object')

In [28]:
building_id = test_df.building_id

In [33]:
selected_features = ['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'has_superstructure_adobe_mud', 'has_superstructure_mud_mortar_stone',
       'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'count_families', 'has_secondary_use', 'has_secondary_use_agriculture',
       'has_secondary_use_hotel', 'has_secondary_use_rental',
       'has_secondary_use_institution', 'has_secondary_use_school',
       'has_secondary_use_industry', 'has_secondary_use_health_post',
       'has_secondary_use_gov_office', 'has_secondary_use_use_police',
       'has_secondary_use_other', 'damage_grade']
# Use list comprehension to remove 'damage_grade' from the list
selected_features_test = [feature for feature in selected_features if feature != 'damage_grade']

# Assuming FeatureSelection is a function that selects specified features from a dataframe
selected_df = FeatureSelection(df, selected_features)
selected_test_df = FeatureSelection(test_df, selected_features_test)

In [55]:
mean_encode(dataframe=df,target_variable='damage_grade', columns_to_encode=['geo_level_1_id','geo_level_2_id'])

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,2.161724,2.740741,12198,2,30,6,5,1,1,...,0,0,0,0,0,0,0,0,0,3
1,28830,2.485273,2.487437,2812,2,10,8,7,0,1,...,0,0,0,0,0,0,0,0,0,2
2,94947,2.563369,2.518750,8973,2,10,5,5,0,1,...,0,0,0,0,0,0,0,0,0,3
3,590882,2.000960,2.107317,10694,2,10,6,5,0,1,...,0,0,0,0,0,0,0,0,0,2
4,201944,2.337713,2.348748,1488,3,30,8,9,1,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,2.054054,1.931034,1621,1,55,6,3,0,1,...,0,0,0,0,0,0,0,0,0,2
260597,669485,2.794480,2.931034,2060,2,0,6,5,0,1,...,0,0,0,0,0,0,0,0,0,3
260598,602512,2.794480,2.894895,8163,3,55,6,7,0,1,...,0,0,0,0,0,0,0,0,0,3
260599,151409,1.730887,1.532194,1851,2,10,14,6,0,0,...,0,0,0,0,0,0,0,0,0,2
260600,747594,2.563369,2.750751,9101,3,10,7,6,0,1,...,0,0,0,0,0,0,0,0,0,3

In [56]:
selected_df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,1,1,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,0,1,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,0,1,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,0,1,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,1,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,0,1,...,0,0,0,0,0,0,0,0,0,2
260597,669485,17,715,2060,2,0,6,5,0,1,...,0,0,0,0,0,0,0,0,0,3
260598,602512,17,51,8163,3,55,6,7,0,1,...,0,0,0,0,0,0,0,0,0,3
260599,151409,26,39,1851,2,10,14,6,0,0,...,0,0,0,0,0,0,0,0,0,2
260600,747594,21,9,9101,3,10,7,6,0,1,...,0,0,0,0,0,0,0,0,0,3

In [36]:
selected_test_df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,0,1,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,0,1,...,1,0,0,0,0,0,0,0,0,0
86864,663567,10,1407,11907,3,25,6,7,1,1,...,0,0,0,0,0,0,0,0,0,0
86865,1049160,22,1136,7712,1,50,3,3,0,1,...,0,0,0,0,0,0,0,0,0,0
86866,442785,6,1041,912,2,5,9,5,1,1,...,0,0,0,0,0,0,0,0,0,0
86867,501372,26,36,6436,2,10,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
check_numerical_columns(selected_df)

Yes

In [38]:
target_column_name = 'damage_grade'

In [39]:
X_train, X_test, y_train, y_test = train_test_split_function(selected_df,target_column_name)

In [40]:
X_train

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
110375,1032505,6,673,3679,3,85,7,7,0,0,...,0,0,0,0,0,0,0,0,0,0
172850,22251,7,1166,406,1,0,14,3,0,0,...,0,1,0,0,0,0,0,0,0,0
63463,822865,8,767,4582,2,70,11,5,0,1,...,0,0,0,0,0,0,0,0,0,0
128620,726097,25,211,7045,2,25,5,5,0,1,...,0,0,0,0,0,0,0,0,0,0
247615,693950,10,1278,2342,2,25,5,4,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235946,623247,3,1006,4800,2,15,6,5,1,0,...,0,0,0,0,0,0,0,0,0,0
217227,722798,26,762,9130,3,15,18,7,1,0,...,0,0,0,0,0,0,0,0,0,0
86000,119840,20,173,1759,2,25,3,5,0,1,...,0,0,0,0,0,0,0,0,0,0
218690,449426,25,58,10904,2,35,8,7,0,1,...,0,0,0,0,0,0,0,0,0,0
54816,832233,8,600,4356,3,20,7,7,0,1,...,0,0,0,0,0,0,0,0,0,0

In [41]:
results = find_best_score(X_train, y_train, 2, 10, 2,[0.1,0.01], model='XGB')

In [42]:
results

{(2,
  0.1): ({'num_class': 3,
   'max_depth': 2,
   'learning_rate': 0.1,
   'num_boost_round': 100}, 0.7360482262618658),
 (2,
  0.01): ({'num_class': 3,
   'max_depth': 2,
   'learning_rate': 0.01,
   'num_boost_round': 100}, 0.9017546929233206),
 2: ({'num_class': 3,
   'max_depth': 2,
   'learning_rate': 0.01,
   'num_boost_round': 100},
  0.9017546929233206),
 (4,
  0.1): ({'num_class': 3,
   'max_depth': 4,
   'learning_rate': 0.1,
   'num_boost_round': 100}, 0.6926744535222294),
 (4,
  0.01): ({'num_class': 3,
   'max_depth': 4,
   'learning_rate': 0.01,
   'num_boost_round': 100}, 0.8600242816433539),
 4: ({'num_class': 3,
   'max_depth': 4,
   'learning_rate': 0.01,
   'num_boost_round': 100},
  0.8600242816433539),
 (6,
  0.1): ({'num_class': 3,
   'max_depth': 6,
   'learning_rate': 0.1,
   'num_boost_round': 100}, 0.664623694983865),
 (6,
  0.01): ({'num_class': 3,
   'max_depth': 6,
   'learning_rate': 0.01,
   'num_boost_round': 100}, 0.8321789903520497),
 6: ({'num_class': 3,
   'max_depth': 6,
   'learning_rate': 0.01,
   'num_boost_round': 100},
  0.8321789903520497),
 (8,
  0.1): ({'num_class': 3,
   'max_depth': 8,
   'learning_rate': 0.1,
   'num_boost_round': 100}, 0.6391754314702766),
 (8,
  0.01): ({'num_class': 3,
   'max_depth': 8,
   'learning_rate': 0.01,
   'num_boost_round': 100}, 0.8172877046763496),
 8: ({'num_class': 3,
   'max_depth': 8,
   'learning_rate': 0.01,
   'num_boost_round': 100},
  0.8172877046763496)}

In [47]:
best_params = None
best_score = float('-inf')  # Initialize to negative infinity

for key, (params, score) in results.items():
    if score > best_score:
        best_score = score
        best_params = params

print("Best Hyperparameters:", best_params)
print("Best Score:", best_score)

Best Hyperparameters: {'num_class': 3, 'max_depth': 2, 'learning_rate': 0.01, 'num_boost_round': 100}
Best Score: 0.9017546929233206

In [44]:
X_train

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
110375,1032505,6,673,3679,3,85,7,7,0,0,...,0,0,0,0,0,0,0,0,0,0
172850,22251,7,1166,406,1,0,14,3,0,0,...,0,1,0,0,0,0,0,0,0,0
63463,822865,8,767,4582,2,70,11,5,0,1,...,0,0,0,0,0,0,0,0,0,0
128620,726097,25,211,7045,2,25,5,5,0,1,...,0,0,0,0,0,0,0,0,0,0
247615,693950,10,1278,2342,2,25,5,4,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235946,623247,3,1006,4800,2,15,6,5,1,0,...,0,0,0,0,0,0,0,0,0,0
217227,722798,26,762,9130,3,15,18,7,1,0,...,0,0,0,0,0,0,0,0,0,0
86000,119840,20,173,1759,2,25,3,5,0,1,...,0,0,0,0,0,0,0,0,0,0
218690,449426,25,58,10904,2,35,8,7,0,1,...,0,0,0,0,0,0,0,0,0,0
54816,832233,8,600,4356,3,20,7,7,0,1,...,0,0,0,0,0,0,0,0,0,0

In [38]:
X_test

        age
57219    15
231133   40
253912   20
23822    40
189346   20
...     ...
128871    5
143943   30
54273    25
70806    20
219728   60

[52121 rows x 1 columns]

In [39]:
y_train

185985    2
239050    3
83217     2
239645    1
207862    2
         ..
105376    3
139980    2
150285    2
211595    2
169444    2
Name: damage_grade, Length: 208480, dtype: int64

In [40]:
y_test

57219     3
231133    2
253912    3
23822     3
189346    2
         ..
128871    3
143943    3
54273     3
70806     1
219728    2
Name: damage_grade, Length: 52121, dtype: int64

In [45]:
infolist = [1,2]

In [42]:
y_train

185985    2
239050    3
83217     2
239645    1
207862    2
         ..
105376    3
139980    2
150285    2
211595    2
169444    2
Name: damage_grade, Length: 208480, dtype: int64

In [43]:
X_train

        age
185985    5
239050   25
83217     5
239645    0
207862   20
...     ...
105376   10
139980   35
150285   20
211595   20
169444   10

[208480 rows x 1 columns]

In [44]:
X_test

        age
57219    15
231133   40
253912   20
23822    40
189346   20
...     ...
128871    5
143943   30
54273    25
70806    20
219728   60

[52121 rows x 1 columns]

In [45]:
y_test

57219     3
231133    2
253912    3
23822     3
189346    2
         ..
128871    3
143943    3
54273     3
70806     1
219728    2
Name: damage_grade, Length: 52121, dtype: int64

# Cross-Validation and Model-Fit

In [48]:
best_params

{'num_class': 3, 'max_depth': 2, 'learning_rate': 0.01, 'num_boost_round': 100}

In [49]:
infolist = []

In [50]:
fitted_model,accuracy = tune_model(X_train, y_train, X_test, y_test, best_params, infolist, model = 'XGB')

[0]	Test-mlogloss:1.09529
[1]	Test-mlogloss:1.09201
[2]	Test-mlogloss:1.08879
[3]	Test-mlogloss:1.08561
[4]	Test-mlogloss:1.08246
[5]	Test-mlogloss:1.07937

/Users/aghauss/anaconda3/envs/mario_env/lib/python3.11/site-packages/xgboost/core.py:160: UserWarning: [17:28:26] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:742:
Parameters: { "num_boost_round" } are not used.

  warnings.warn(smsg, UserWarning)

[6]	Test-mlogloss:1.07632
[7]	Test-mlogloss:1.07330
[8]	Test-mlogloss:1.07033
[9]	Test-mlogloss:1.06740
[10]	Test-mlogloss:1.06450
[11]	Test-mlogloss:1.06164
[12]	Test-mlogloss:1.05883
[13]	Test-mlogloss:1.05604
[14]	Test-mlogloss:1.05330
[15]	Test-mlogloss:1.05035
[16]	Test-mlogloss:1.04744
[17]	Test-mlogloss:1.04457
[18]	Test-mlogloss:1.04181
[19]	Test-mlogloss:1.03909
[20]	Test-mlogloss:1.03640
[21]	Test-mlogloss:1.03366
[22]	Test-mlogloss:1.03104
[23]	Test-mlogloss:1.02845
[24]	Test-mlogloss:1.02590
[25]	Test-mlogloss:1.02337
[26]	Test-mlogloss:1.02088
[27]	Test-mlogloss:1.01842
[28]	Test-mlogloss:1.01598
[29]	Test-mlogloss:1.01358
[30]	Test-mlogloss:1.01121
[31]	Test-mlogloss:1.00886
[32]	Test-mlogloss:1.00655
[33]	Test-mlogloss:1.00426
[34]	Test-mlogloss:1.00200
[35]	Test-mlogloss:0.99977
[36]	Test-mlogloss:0.99757
[37]	Test-mlogloss:0.99539
[38]	Test-mlogloss:0.99324
[39]	Test-mlogloss:0.99111
[40]	Test-mlogloss:0.98902
[41]	Test-mlogloss:0.98694
[42]	Test-mlogloss:0.98489
[43]	Test-mlogloss:0.98286
[44]	Test-mlogloss:0.98079
[45]	Test-mlogloss:0.97881
[46]	Test-mlogloss:0.97686
[47]	Test-mlogloss:0.97492
[48]	Test-mlogloss:0.97301
[49]	Test-mlogloss:0.97113
[50]	Test-mlogloss:0.96926
[51]	Test-mlogloss:0.96741
[52]	Test-mlogloss:0.96559
[53]	Test-mlogloss:0.96379
[54]	Test-mlogloss:0.96201
[55]	Test-mlogloss:0.96025
[56]	Test-mlogloss:0.95851
[57]	Test-mlogloss:0.95679
[58]	Test-mlogloss:0.95509
[59]	Test-mlogloss:0.95340
[60]	Test-mlogloss:0.95174
[61]	Test-mlogloss:0.95009
[62]	Test-mlogloss:0.94847
[63]	Test-mlogloss:0.94686
[64]	Test-mlogloss:0.94519
[65]	Test-mlogloss:0.94362
[66]	Test-mlogloss:0.94207
[67]	Test-mlogloss:0.94052
[68]	Test-mlogloss:0.93900
[69]	Test-mlogloss:0.93749
[70]	Test-mlogloss:0.93600
[71]	Test-mlogloss:0.93453
[72]	Test-mlogloss:0.93319
[73]	Test-mlogloss:0.93175
[74]	Test-mlogloss:0.93025
[75]	Test-mlogloss:0.92895
[76]	Test-mlogloss:0.92755
[77]	Test-mlogloss:0.92628
[78]	Test-mlogloss:0.92491
[79]	Test-mlogloss:0.92356
[80]	Test-mlogloss:0.92233
[81]	Test-mlogloss:0.92100
[82]	Test-mlogloss:0.91969
[83]	Test-mlogloss:0.91843
[84]	Test-mlogloss:0.91715
[85]	Test-mlogloss:0.91587
[86]	Test-mlogloss:0.91472
[87]	Test-mlogloss:0.91347
[88]	Test-mlogloss:0.91223
[89]	Test-mlogloss:0.91111
[90]	Test-mlogloss:0.90990
[91]	Test-mlogloss:0.90870
[92]	Test-mlogloss:0.90756
[93]	Test-mlogloss:0.90638
[94]	Test-mlogloss:0.90522
[95]	Test-mlogloss:0.90417
[96]	Test-mlogloss:0.90303
[97]	Test-mlogloss:0.90190
[98]	Test-mlogloss:0.90088
[99]	Test-mlogloss:0.89977

In [51]:
accuracy

0.6301107039389113

In [54]:
selected_test_df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,0,1,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,0,1,...,1,0,0,0,0,0,0,0,0,0
86864,663567,10,1407,11907,3,25,6,7,1,1,...,0,0,0,0,0,0,0,0,0,0
86865,1049160,22,1136,7712,1,50,3,3,0,1,...,0,0,0,0,0,0,0,0,0,0
86866,442785,6,1041,912,2,5,9,5,1,1,...,0,0,0,0,0,0,0,0,0,0
86867,501372,26,36,6436,2,10,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0

# Run validation and print csv

In [53]:
run_and_save(fitted_model,selected_test_df,building_id)

File saved as data/output/predictions_2024-02-02_17-28-40.csv