In [85]:
from scripts.fe import FeatureEngineering
from scripts.fs import FeatureSelection
from scripts.fs import train_test_split_function
from scripts.cross_val import plot_results
from scripts.cross_val import find_best_score
from scripts.cross_val import plot_results
from sklearn.ensemble import RandomForestClassifier

In [65]:
from scripts.lazy_model import lazy_model

In [50]:
df = FeatureEngineering()

In [51]:
selected_features = ['age','damage_grade']
selected_cdf = FeatureSelection(df, selected_features)

In [52]:
selected_cdf

        age  damage_grade
0        30             3
1        10             2
2        10             3
3        10             2
4        30             3
...     ...           ...
260596   55             2
260597    0             3
260598   55             3
260599   10             2
260600   10             3

[260601 rows x 2 columns]

In [67]:
X_train, X_test, y_train, y_test = train_test_split_function(selected_cdf, 'damage_grade')

232971    2
254701    2
232056    1
146523    3
86623     2
         ..
223758    2
209454    2
211246    3
149411    2
10559     1
Name: damage_grade, Length: 52121, dtype: int64

In [81]:
model = 'RandomForestClassifier'

In [87]:
fitted_model,mae = lazy_model(X_train, X_test, y_train, y_test,RandomForestClassifier)

In [91]:
predictions = fitted_model.predict(new_data)

NameError: name 'new_data' is not defined